html {
    box-sizing: border-box;}

*::before,
*::after {
    box-sizing: inherit;}

:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-color: #757575;
    --box-color: #00000040;
}
    

/*body style*/

body {
    font-family: 'Roboto', sans-serif; 
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.0 3em;} 

    .list {list-style: none;}
    .link {text-decoration: none;}
    
/* page-header */
   
.page-header {
    background-color: var(--primary-white-color);
    padding: 24px 0 25px;
    border-bottom: 1px solid #ECECEC;}

/* container */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    /* outline: 2px solid tomato; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section.no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.section.padding-top {
    padding-top: 94px;
    padding-bottom: 0px;
}
.section.padding-bottom {
    padding-top: 0px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;}
    

/*-------------Лого--------------*/
.page-header__link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: #2196F3;
    margin-right: 93px;}

.page-header__logo {color: #000000;}
    

/*----------Навигация----------*/

.site-nav {
    display: inline-flex;
    align-items: center;}

.site-nav .site-nav__link {
    display: block;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.87;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

    
.site-nav .site-nav__link:hover {color: var(--accent-color);}
.site-nav .site-nav__link:focus {color: var(--accent-color);}
    
.site-nav .link-current {
    font-weight: 500;
    color: var(--accent-color); }

.site-nav__item:not(:last-child) {
    margin-right:30px;}

    
.site-nav__item::after {
    position: relative;
    bottom: -30px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    display: inline-flex;
    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

        
.stripe-current.site-nav__item::after  {opacity: 1;}   


/* <------------------Контакты---------------------->  */

.adress-nav {
    display: flex;
    align-items: center;}
        
    .adress-nav__meil {
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
    
    .adress-nav__meil:hover {color: var(--accent-color);}
    .adress-nav__meil:focus {color: var(--accent-color);}
    
    .adress-nav .adress-nav__meil {
    margin-right: 50px;}
    
    .adress-nav__tel {
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;}

    .adress-nav__tel:hover {color: var(--accent-color);}
    .adress-nav__tel:focus {color: var(--accent-color);}

    .adress-nav__icon {
    fill: currentColor; margin-right: 10px;
    align-items: center;}


    .adress-nav .link {color: var(--primary-text-color);
    font-weight: 500;
    line-height: 0.87;
    letter-spacing: 0.02em;}
        
    .adress-nav .link:hover {color: var(--accent-color);}
    .adress-nav .link:focus {color: var(--accent-color);}

    .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;}   


/* ------------------Полоски------------ */


    
     
   
/*---------------------Hero------------------*/
.hero {
    text-align: center;
    padding: 200px 390px;
    background-color: #2F303A;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}


.hero__title {
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);}

.hero__btn {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
    display: inline-block;
    background-color: #2196F3;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    text-align: center;}
    

/*---------------------------Особенности-----------------------*/
.section-title {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-text-color);}
        
        
.pec {
    display: flex;
    justify-content: center;}

.pec__item {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    height: 120px;
    margin-right: 30px;}
   
.peculiarities {display: flex;}

.peculiarities .title {
    color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 0; 
    font-weight: 700;
    line-height: 1.14;}
    
.peculiarities__item {
    margin-right: 30px;
    width: 270px;
    height: 120px;}
    
.peculiarities__item:last-child {margin-right: 0;} 
        
 .peculiarities__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);
    padding-top: 30px;}

          
.peculiarities__about {
    margin-top: 0;
    margin-bottom: 0px;
    line-height: 1.71;
    color: var(--secondary-color); }

      

/*---------------Чем мы занимаемся----------------*/
.study {
    display:flex;
    flex-wrap: wrap;}
      
.study__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;}
    
.study__item:last-child {margin-right: 0;}

  
/*-----------------Наша команда---------------*/
.section .team {margin-bottom: 0;}

.section-title {padding-bottom: 50px;}
    
.team {
    background-color: #F5F4FA;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;}

.team__item {
    width: 270px;
    box-shadow: 0px 4px 4px var(--box-color);    
    margin-right: 30px;
    border: 1px solid #ECECEC;}

.team__item:last-child {margin-right: 0;}

.team__img {display: block;}

.team__about {background-color: var(--primary-white-color);}

.team__title
    {font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin: 0;
    padding-top: 30px;
    color: var(--primary-text-color);}

.team__profession 
    {font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 16px;
    padding-bottom: 16px;}

  
/* ------------team-social-icon----------- */

.team-soc__list {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;}

.team-soc__item {
    width: 44px;
    height: 44px;}

.team-soc__item + .team-soc__item {margin-left: 10px;}

.team-soc__link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.team-soc__link:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);}

.team-soc__icon {fill: currentColor;}


/* ------------- Постоянные клиенты ------------------- */

.customers {
    display: flex;
    justify-content: center;}

.customers__item {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    overflow: hidden;
    border-radius: 4px;}

.customers__item:hover {border: 1px solid var(--accent-color);}

.customers__item + .customers__item {margin-left: 30px;}

.customers__link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.customers__link:hover {
    background-color: var(--primary-white-color);
    color: var(--accent-color);}


.customers__icon {fill: currentColor;}



/*--------------------------Футер----------------------*/

.footer {background-color:  #2F303A;}
    
.footer__container {
    display: flex;
    flex-direction: row;
    align-items: baseline;} 
    
.footer__nav {display: inline-block;}

.footer__logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);}

.footer__logo { 
    padding-top: 60px;}

.footer__text {color: var(--primary-white-color);}
 
.footer-adress__list {   
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 9px;}

.post-adress {
    line-height: 0.06;
    font-style: normal;
    color: var(--primary-white-color);}

.footer-adress__item {margin-bottom: 9px;}
    
.footer-adress__link
    {text-decoration: none;
    font-style: normal;
    line-height: 0.06;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;}

.footer-adress__link:hover {color: var(--accent-color);}
.footer-adress__link:focus {color: var(--accent-color);}

    
    
.welcome {
    display: inline-block;
    margin-left: 70px;}

.welcome__title
    {font-size: 14px;    
    line-height: 1.14;    
    margin-top: 0;
    margin-bottom: 0%;
    color: var(--primary-white-color);
    padding-bottom: 20px;}

.welcome__list {
    display: flex;
    justify-content: center;}

.welcome__item {
    width: 44px;
    height: 44px;}

.welcome__item + .welcome__item {margin-left: 10px;}       

.welcome__link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;}

.welcome__link:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);}    

.welcome__icon {fill: currentColor ;}

       

.form__list {
    display: inline-block;
    margin-left: 70px;}

.footer__form {display: inline-flex;}

.form__input {
    width: 358px;
    height: 50px;
    border: 1px solid #FFFFFF4D;
    background-color: #2F303A;
    border-radius: 4px;
    padding-left: 10px;}

.btn.form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    color: #FFFFFF;}


.btn__icon {margin-left: 10px;}



 /* --------------------------Modal------------------------ */

 .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms, visibility 300ms;}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;}

.modal {
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px ;}


.modal__closed-btn {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 50%;
    top: 8px;
    right: 8px;
    color: #000000;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;}


.modal__closed-btn:hover {fill:var(--accent-color)}

.modal__title {
   font-size: 18px;
   font-weight: 600;
    color: #000000;
    text-align: center;
    margin-bottom: 15px;}

.modal__field {margin-bottom: 10px;}

.modal__label {color: rgba(33, 33, 33, 0.2);
    font-size: 12px;
    line-height: 1.16;
    display: block;
    margin-bottom: 5px;}
    
.modal__input {
    width: 100%;
    height: 45px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 3px;
    padding-left: 30px;
    outline: none;}

 .modal__input:focus {border-color: var(--accent-color);}

.modal__input:focus + .modal__icon {fill: var(--accent-color);}   

.modal__icon {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    fill: currentColor;}

.modal__comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
    outline: none;}


.modal__comment:focus {border-color: var(--accent-color);}

.modal__field-wrap {
    position: relative;}

.modal__check--text {
    display: flex;
    align-items: center;}

.modal__check--text::before {
    content: " ";
    width: 16px;
    height: 15px;
    border: 2px solid #303030;
    border-radius: 3px;
    margin-right: 5px;}

.modal__check:checked + .modal__check--text::before {
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/check.svg);
    background-position: center;
    background-repeat: no-repeat;}


.btn.modal__send--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    color: #FFFFFF;}
    
.modal__send--btn {
    position: absolute;
    left: 162px;}


/*----------------------button------------------------------*/
.button__nav {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;}

.btn {
    display: flex;
    cursor: pointer;
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 6px 22px;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-width: 1px 0;
    border-style: solid none;
    border-color: transparent;
    border-radius: 4px;
    background: #F5F4FA;
    transition: 0.2s;
    text-align: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;}

 .btn__item { font-size: 500;}
  
.button__nav .btn__item + .btn__item {margin-left: 8px;}

.btn.active {background-color: var(--accent-color);}
    
.btn:hover {background-color: var(--accent-color); color: var(--primary-white-color);}
.btn:focus {background-color: var(--accent-color); color: var(--primary-white-color);}
.btn:hover {box-shadow: 0px 4px 4px #00000040;}

    


 /* --------------- Проэкты -------------------- */


 .project {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding-bottom: 94px;}

.project__img {display: block;}


 .project__item {
    margin: 0;
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-color);}


.project__list {
    margin-right: 30px;
    margin-bottom: 30px;}

 .project__thumb::before {
 content: "";
 width: 370px;
 height: 294px;
 background-color: rgba(33, 150, 243, 0.9);
 display: block;
 position: absolute;
 overflow: hidden;
 opacity: 0;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 transform: translateY(0);}


 .project__thumb::before {
 content: 'Ресурс предлагает комплексные предложения с разным уровнем функционала и сервисов. Все это позволит посетителю получить исчерпывающие сведения о компании или частном лице.';
 font-size: 18px;
 line-height: 1.55;
 padding: 63px 24px;
 color: var(--primary-white-color);} 

     
.project__list:hover .project__thumb::before
{transform: translateY(-100%);
opacity: 1;}
         
  


 .project__list:hover {box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);}
 .project__list:focus {box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);}

 .project__list:nth-child(3n) {margin-right: 0;}
 .project__list:nth-last-child(-n+3) {margin-bottom: 0;}
 
 .project__about{
    padding: 20px 24px;
    border: 1px solid #ECECEC;}


.project__title {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 4px;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--primary-text-color);}
    

 
 


